body{
    margin-top: 400px;
}


.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.box1{
    width:40%;
    margin: auto;
    background-color: aqua;
    padding: 10px 20px 30px 40px;
    border:2px solid black;
}